---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?include_entities=true&lang=en&q=%23aguilera
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="hIl8qNe1VqxKJuxHhWoA", oauth_nonce="e6fb54aa3de2651df2822fcee197a2ae",
        oauth_signature="uKJ5RSfaTF0D6c%2B3fM5tL29BKVE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386061105", oauth_token="1944743442-3pV23TQz68mT0GeyoINA6HDwRoe78UvWwLRLWuY",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 03 Dec 2013 08:58:25 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1386061342'
      X-Transaction:
      - 20b3293ca738e9ff
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Tue
        Dec 03 04:46:52 +0000 2013","id":407732644575973376,"id_str":"407732644575973376","text":"@DisneyRPWriter
        @Keepin_It_Evil @RatchetRedQueen @HopeUGuesMyName ha! Singing \"I''m a genie
        in a bottle baby...\" #Aguilera","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":407731029462376448,"in_reply_to_status_id_str":"407731029462376448","in_reply_to_user_id":2173019833,"in_reply_to_user_id_str":"2173019833","in_reply_to_screen_name":"DisneyRPWriter","user":{"id":568691080,"id_str":"568691080","name":"C
        is for Cora!","screen_name":"OnceUponAMother","location":"Look at yourself
        in the mirror","description":"Don''t be fooled by the hearts that I got, I''m
        still, I''m still, Cora from the block...","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1480,"friends_count":482,"listed_count":10,"created_at":"Wed
        May 02 01:21:33 +0000 2012","favourites_count":2409,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":8008,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/547185619\/Hearts-vault-outside-s01e17.jpg","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/547185619\/Hearts-vault-outside-s01e17.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/3365254919\/0da3cbae63b53a402bb4e183a5b755dd_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/3365254919\/0da3cbae63b53a402bb4e183a5b755dd_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/568691080\/1353297165","profile_link_color":"5D1896","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":1,"favorite_count":1,"entities":{"hashtags":[{"text":"Aguilera","indices":[112,121]}],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"DisneyRPWriter","name":"Tamale","id":2173019833,"id_str":"2173019833","indices":[0,15]},{"screen_name":"Keepin_It_Evil","name":"How
        Regina Sees It \uf8ff","id":566725204,"id_str":"566725204","indices":[16,31]},{"screen_name":"RatchetRedQueen","name":"The
        Red Queen","id":1973407129,"id_str":"1973407129","indices":[32,48]},{"screen_name":"HopeUGuesMyName","name":"Mr.Gold","id":423933516,"id_str":"423933516","indices":[49,65]}]},"favorited":false,"retweeted":false,"lang":"en"},{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Tue
        Dec 03 01:58:59 +0000 2013","id":407690394168995840,"id_str":"407690394168995840","text":"The
        more platinum the blonde directly effects the amount of crazy. #Aguilera","source":"\u003ca
        href=\"http:\/\/tapbots.com\/tweetbot\" rel=\"nofollow\"\u003eTweetbot for
        iOS\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_repl[...]
