---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?include_entities=true&lang=en&q=%23invalid%20value
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="hIl8qNe1VqxKJuxHhWoA", oauth_nonce="07b928f0105e6f58bf87ead9f994855f",
        oauth_signature="oPz%2Bz9V%2BZ2%2FQdWqbIacaLGmcEV0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386100295", oauth_token="1944743442-3pV23TQz68mT0GeyoINA6HDwRoe78UvWwLRLWuY",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 03 Dec 2013 19:51:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1386101123'
      X-Transaction:
      - bc2b910d6a7ea5be
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.026,"max_id":407960265049640960,"max_id_str":"407960265049640960","query":"%23invalid+value","refresh_url":"?since_id=407960265049640960&q=%23invalid%20value&lang=en&include_entities=1","count":15,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Tue, 03 Dec 2013 19:51:36 GMT
recorded_with: VCR 2.8.0
