---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?include_entities=true&lang=en&q=%23MyString
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="hIl8qNe1VqxKJuxHhWoA", oauth_nonce="0f1027e3d2824ab833be43f66fed8ef7",
        oauth_signature="Qo5kcb29tGmiSfuzgJnukLqMEwU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386100222", oauth_token="1944743442-3pV23TQz68mT0GeyoINA6HDwRoe78UvWwLRLWuY",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 03 Dec 2013 19:50:23 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1386101123'
      X-Transaction:
      - 4dee56f800518734
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.033,"max_id":407959953446801409,"max_id_str":"407959953446801409","query":"%23MyString","refresh_url":"?since_id=407959953446801409&q=%23MyString&lang=en&include_entities=1","count":15,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Tue, 03 Dec 2013 19:50:23 GMT
recorded_with: VCR 2.8.0
