---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?include_entities=true&lang=en&q=%23%23MTVStars
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="hIl8qNe1VqxKJuxHhWoA", oauth_nonce="3fe79755508a9e130fe6de96e02d7a43",
        oauth_signature="eKuKffyPRJ23h8PoXx%2Bdp54%2B78s%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386061628", oauth_token="1944743442-3pV23TQz68mT0GeyoINA6HDwRoe78UvWwLRLWuY",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 03 Dec 2013 09:07:08 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1386062528'
      X-Transaction:
      - 749c45d845665973
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Tue
        Dec 03 09:06:53 +0000 2013","id":407798079954243584,"id_str":"407798079954243584","text":"RT
        @nialldeloop: ''u see that girl''\n\n''yea what about her''\n\n''she didnt
        vote for us at mtv stars''\n\n''omg ew''\n\n#mtvstars One Direction http:\/\/t.\u2026","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":466440088,"id_str":"466440088","name":"\u2661
        Zayn Malik \u2661","screen_name":"LustMalikxo","location":"in zayns bed\/\/Australia
        ","description":"Zayn Malik yoooo \u2665 0\/5 :( \u2661 25\/9\/13\u2661 1D&LM&5SOS\u2661","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":891,"friends_count":1769,"listed_count":3,"created_at":"Tue
        Jan 17 12:08:34 +0000 2012","favourites_count":169,"utc_offset":37800,"time_zone":"Adelaide","geo_enabled":false,"verified":false,"statuses_count":9043,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/378800000093576528\/dca35b9f479f367b6a6d51c6b3715f2c.jpeg","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/378800000093576528\/dca35b9f479f367b6a6d51c6b3715f2c.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000780568576\/cc1e08d030bc0144c0b3f9ee85fd515b_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000780568576\/cc1e08d030bc0144c0b3f9ee85fd515b_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/466440088\/1385361402","profile_link_color":"0084B4","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Mon
        Dec 02 17:29:16 +0000 2013","id":407562120104919040,"id_str":"407562120104919040","text":"''u
        see that girl''\n\n''yea what about her''\n\n''she didnt vote for us at mtv
        stars''\n\n''omg ew''\n\n#mtvstars One Direction http:\/\/t.co\/NjtWtcckEl","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1001678017,"id_str":"1001678017","name":"\u2741
        weyheyniall \u2741","screen_name":"nialldeloop","location":"","description":"\u263c
        niall \/ ni\u2022all \/ ni\u0259l [noun] : the reason I smile \u263c https:\/\/t.co\/3aqQtzrXZQ","url":"http:\/\/t.co\/fhO2BGCMOZ","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/fhO2BGCMOZ","expanded_url":"http:\/\/24.media.tumblr.com\/0d8d448cf147649657c90d0a06a370f5\/tumblr_mwn29osbku1qg9q0qo1_500.gif","display_url":"24.media.tumblr.com\/0d8d448cf14764\u2026","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/3aqQtzrXZQ","expanded_url":"https:\/\/twitter.com\/niallofficial\/status\/7846373124","display_url":"twitter.com\/niallofficial\/\u2026","indices":[54,77]}]}},"protected":false,"followers_count":3713,"friends_count":1572,"listed_count":6,"created_at":"Mon
        Dec 10 13:29:10 +0000 2012","favourites_count":1861,"utc_offset":-14400,"time_zone":"Atlantic
        Time (Canada)","geo_enabled":false,"verified":false,"statuses_count":21006,"l[...]
