<header class="header bg-dark bg-gradient">
  <ul class="nav nav-tabs">
    <!-- <li class="active"><a href="#sparkline" data-toggle="tab">Sparkline</a></li> -->
    <li class="active"><a href="#morris" data-toggle="tab">The Approval Matrix</a></li>
    <li class=""><a href="#easy-pie-chart" data-toggle="tab">Raw Tweet Data</a></li>
  </ul>
</header>
