---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?include_entities=true&lang=en&q=%23Rails
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="hIl8qNe1VqxKJuxHhWoA", oauth_nonce="9d997d6932b51c3f9db2161fef920c48",
        oauth_signature="F45ISGCxKJ2cBvxScF08BQOzKVk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1386085676", oauth_token="1944743442-3pV23TQz68mT0GeyoINA6HDwRoe78UvWwLRLWuY",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 03 Dec 2013 15:47:57 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1386086577'
      X-Transaction:
      - 047915bc94cc227d
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Tue
        Dec 03 15:46:02 +0000 2013","id":407898531295678464,"id_str":"407898531295678464","text":"#Regram
        from @jesstidswell , showing you telemarkers can rip. #Telemark #tele #ski
        #skiing #snow #winter #rails\u2026 http:\/\/t.co\/rorQ1YXtBU","source":"\u003ca
        href=\"http:\/\/publicize.wp.com\/\" rel=\"nofollow\"\u003eWordPress.com\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":321406678,"id_str":"321406678","name":"regr.am","screen_name":"regramism","location":"US","description":"\u201cRegram
        \u2013 the act of reposting on Instagram\u201d (Urban Dictionary). And we
        do that.","url":"http:\/\/t.co\/MNfOH5yjdT","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/MNfOH5yjdT","expanded_url":"http:\/\/regr.am","display_url":"regr.am","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":363,"friends_count":120,"listed_count":46,"created_at":"Tue
        Jun 21 14:37:40 +0000 2011","favourites_count":23,"utc_offset":3600,"time_zone":"Amsterdam","geo_enabled":false,"verified":false,"statuses_count":92307,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000785701630\/394fa10c20f24ffc0f7a4886c1fb48a6_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000785701630\/394fa10c20f24ffc0f7a4886c1fb48a6_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/321406678\/1376273056","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"Regram","indices":[0,7]},{"text":"Telemark","indices":[62,71]},{"text":"tele","indices":[72,77]},{"text":"ski","indices":[78,82]},{"text":"skiing","indices":[83,90]},{"text":"snow","indices":[91,96]},{"text":"winter","indices":[97,104]},{"text":"rails","indices":[105,111]}],"symbols":[],"urls":[{"url":"http:\/\/t.co\/rorQ1YXtBU","expanded_url":"http:\/\/wp.me\/p46QRi-6rI","display_url":"wp.me\/p46QRi-6rI","indices":[113,135]}],"user_mentions":[{"screen_name":"jesstidswell","name":"Jess
        Tidswell","id":268105221,"id_str":"268105221","indices":[13,26]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"result_type":"recent","iso_language_code":"en"},"created_at":"Tue
        Dec 03 15:45:34 +0000 2013","id":407898414169751552,"id_str":"407898414169751552","text":"allow
        for arrays to be defined as symbol http:\/\/t.co\/VIlVeBwO7q #rails #rubyonrails","source":"\u003ca
        href=\"https:\/\/zapier.com\/\" rel=\"nofollow\"\u003eZapier.com\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id[...]
