%header.dker.nav-bar
  %a.btn.btn-link.visible-xs{"data-target" => "#nav", "data-toggle" => "class:nav-off-screen"}
    %i.icon-reorder
  %a.nav-brand{"data-toggle" => "fullscreen", href: "#"} TweetStream
  %a.btn.btn-link.visible-xs{"data-target" => ".nav-user", "data-toggle" => "class:show"}
    %i.icon-comment-alt
