<body>
	<section class="hbox stretch">
	  <%= render :partial => "layouts/header" %>
	  <section id="content">
	  	<section class="vbox">
	  		<%= yield %>
	  	</section>
	  </section>
	</section>
</body>